.carousel {
  width: 800px;
  max-width: 100%;
  height: 450px;
  overflow: hidden;
  box-shadow: 0px 0px 50px #000000;
}

/* Images */

.carousel img {
  width: 800px;
  max-width: 100%;
  height: 450px;
  transition: all ease-out 5s;
}