body {
  background-color: rgb(31, 30, 32);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

h1 { color: #FFC107; text-transform: uppercase; display: flex; justify-content: center; align-items: center;}
h1 img {margin-right: 20px; max-width: 40px;}

.img-capture {
  max-width: 800px !important;
  margin: auto;
  box-shadow: 0px 0px 50px #000000;
}

.btn-download {
  margin-bottom: 20px;
  background-color: #37373a;
  color: #fff;
  text-decoration: none;
  padding: 14px 26px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
}

.btn-download:hover { background-color: #202020; }

.btn-download img {
  margin-right: 10px;
}

footer {display: flex; justify-content: center; align-items: center;}

.mb-20 {margin-bottom: 20px;}
.mb-40 {margin-bottom: 40px;}
.m-0{margin: 0 !important;}
.mr-40 {margin-right: 40px;}
a,button {font-size: 14px; text-transform: uppercase; color: #fff;}